
body {
  padding-top: 25px;
  color: black;
  text-align: center;
  font-family: Geneva;
  font-size: 22px;
  line-height: 1.5;
  background-image: url("https://cdn.pixabay.com/photo/2016/07/07/17/22/wine-1502846__480.jpg");
  background-color: #cccccc;
  background-size: cover;
}

header {
  background: white;
}
 
h5, li {
  color: black
}

.someButtons {
  padding-top: 25px;
}

#chocolate-btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

#wine-btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}


#newPairing {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
}

header img {
  width: 100px;
  vertical-align: middle;
}
  
header h1 {
  padding-top: 50px;
}
  


header h2 {
  font-size: 22px;
}
  
  .hidden  {
    display: none; 
  }